.customTableContainer {
  font-family: var(--primary-font-family);
  background-color: var(--primary-white-color);
  border: none;
  border-radius: 8px;

  @media screen and (max-width: 374px) {
    width: 90vw !important;
  }

  @media screen and (min-width: 768px) {
    padding: 18px;
    background-color: var(--white-color);
    border-radius: 15px;
  }
}

.customTable {
}

.customHeader {
}

.customHeaderRow {
  background: rgba(133, 170, 159, 0.1);
  font-weight: 500;
  font-size: 16px;
}

.customHeaderCell {
  padding: 16px 14px;
  font-weight: 500;
  font-size: 16px;
  border-bottom: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;

  @media screen and (min-width: 768px) {
    padding: 22px !important;
  }
}

.customHeaderCell:last-child {
  border-right: none;
}

.customBody {
}

.customBodyRow {
}

.customBodyCell {
  position: relative;
  font-family: var(--primary-font-family);
  color: var(--primary-black-color);
  font-weight: 500;
  font-size: 14px;
  padding: 16px 14px;
  border-bottom: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;

  @media screen and (min-width: 768px) {
    padding: 22px !important;
  }
}

.customBodyCell:last-child {
  border-right: none;
}

.headerCell {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.icon {
  width: 28px;
  height: 28px;
}
