.trainingRoom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 116px;
  width: calc(100vw - 32px);

  @media screen and (min-width: 375px) {
    width: 343px;
  }

  @media screen and (min-width: 768px) {
    width: 704px;
    gap: 40px;
  }

  @media screen and (min-width: 1440px) {
    width: 1240px;
    gap: 80px;
  }
}

.blocksWrapper {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    padding: 18px;
    background-color: var(--white-color);
    border-radius: 15px;
  }

  @media screen and (min-width: 1440px) {
    flex-direction: row;
  }
}

.wordBlockUa {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  height: 195px;
  border-radius: 8px 8px 0 0;
  border-bottom: 1px solid #dbdbdb;
  padding: 22px;
  background-color: var(--primary-white-color);

  @media screen and (min-width: 768px) {
    position: relative;
    height: 282px;
  }

  @media screen and (min-width: 1440px) {
    height: 302px;
    width: 602px;
    border-radius: 8px 0 0 8px;
    border-bottom: none;
    border-right: 1px solid #dbdbdb;
  }
}

.wordBlockEn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  height: 195px;
  border-radius: 0 0 8px 8px;
  padding: 22px;
  background-color: var(--primary-white-color);

  @media screen and (min-width: 768px) {
    position: relative;
    height: 282px;
  }

  @media screen and (min-width: 1440px) {
    height: 302px;
    width: 602px;
    border-radius: 0 8px 8px 0;
  }
}

.word {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;

  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}

.input {
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  border: none;

  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}

.input::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

@media screen and (min-width: 768px) {
  .input::placeholder {
    font-size: 20px;
  }
}

.btnAndFlagWrapper {
  position: relative;
  width: 100%;
  height: 28px;

  @media screen and (min-width: 768px) {
    position: static;
  }
}

.nextButton {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: rgba(18, 20, 23, 0.5);
}

.iconArrow {
  width: 20px;
  height: 20px;
  stroke: var(--primary-green-color);
}

.flagBlock {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 8px;
  align-items: center;

  @media screen and (min-width: 768px) {
    top: 22px;
    right: 22px;
  }
}

.iconFlag {
  width: 28px;
  height: 28px;

  @media screen and (min-width: 768px) {
    width: 32px;
    height: 32px;
  }
}

.language {
  font-weight: 500;
  font-size: 14px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.buttonsBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    width: 427px;
    gap: 10px;
    align-items: center;
  }
}

.saveButton {
  flex: 1;
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: var(--primary-white-color);
  text-align: center;
  background: var(--primary-green-color);
  border-radius: 30px;
  padding: 14px;
  border: none;
  cursor: pointer;
  transition: all var(--transition-duration) var(--transition-timing-function);

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 156%;
  }
}

.saveButton:hover {
  background: var(--primary-light-green-color);
}

.cancelButton {
  flex: 1;
  font-family: var(--primary-font-family);
  font-weight: 700;
  line-height: 150%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: center;
  color: rgba(18, 20, 23, 0.5);
  cursor: pointer;
  transition: all var(--transition-duration) var(--transition-timing-function);

  @media screen and (min-width: 768px) {
    font-size: 18px;
    color: var(--primary-green-color);
    border: 1px solid var(--primary-green-color);
    border-radius: 30px;
    padding: 14px;
    text-decoration: none;
  }
}

.cancelButton:hover {
  color: var(--primary-black-color);

  @media screen and (min-width: 768px) {
    color: var(--primary-white-color);
    background-color: var(--primary-green-color);
  }
}
