.wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
}

.paragraph {
  font-weight: 500;
  font-size: 14px;
  color: rgba(18, 20, 23, 0.5);
}

.span {
  font-weight: 500;
  font-size: 20px;
}
