:root {
  font-family: var(--primary-font-family);
  color: var(--primary-black-color);
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.MuiTableContainer-root {
  @media screen and (min-width: 768px) {
    width: auto !important;
  }
}

.MuiTable-root {
  font-family: var(--primary-font-family) !important;
  color: var(--primary-black-color) !important;
  font-weight: 500 !important;
}

.MuiTableHead-root {
  font-size: 16px !important;
}

.MuiTableRow-root {
  font-family: var(--primary-font-family) !important;
  color: var(--primary-black-color) !important;
}

.MuiTableCell-root {
  font-family: var(--primary-font-family) !important;
  color: var(--primary-black-color) !important;
  padding: 16px 14px !important;
}
