@font-face {
  font-family: 'MacPaw Fixel Display';
  src: url(../../src/assets/fonts/MacPawFixelDisplay-Regular.woff2)
      format('woff2'),
    url(../../src/assets/fonts/MacPawFixelDisplay-Regular.otf)
      format('opentype');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MacPaw Fixel Display';
  src: url(../../src/assets/fonts/MacPawFixelDisplay-Medium.woff2)
      format('woff2'),
    url(../../src/assets/fonts/MacPawFixelDisplay-Medium.otf) format('opentype');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MacPaw Fixel Display';
  src: url(../../src/assets/fonts/MacPawFixelDisplay-SemiBold.woff2)
      format('woff2'),
    url(../../src/assets/fonts/MacPawFixelDisplay-SemiBold.otf)
      format('opentype');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'MacPaw Fixel Display';
  src: url(../../src/assets/fonts/MacPawFixelDisplay-Bold.woff2) format('woff2'),
    url(../../src/assets/fonts/MacPawFixelDisplay-Bold.otf) format('opentype');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url(../../src/assets/fonts/SF-Pro-Display-Regular.otf);
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url(../../src/assets/fonts/SF-Pro-Display-Medium.otf);
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url(../../src/assets/fonts/SF-Pro-Display-Semibold.otf);
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url(../../src/assets/fonts/SF-Pro-Display-Bold.otf);
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
