/* .modalWrapper {
  position: absolute;
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  z-index: 101;
}

.modalContainer {
  position: relative;
  max-height: 75vh;
  max-width: 92vw;
  background-color: var(--primary-green-color);
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  margin: 0 auto;
  overflow: auto;
}

.modalButtonClose {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  align-items: center;
  justify-content: center;
  padding: 0;

  @media screen and (min-width: 768px) {
    top: 20px;
    right: 20px;
    width: 32px;
    height: 32px;
  }
}

.iconClose {
  width: 100%;
  height: 100%;
  pointer-events: none;
} */

.modalWrapper {
  position: absolute;
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContainer {
  position: relative;
  max-height: calc(100vh - 80px);
  max-width: 92vw;
  background-color: var(--primary-green-color);
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  z-index: 200;
}

.modalButtonClose {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.iconClose {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
