.wrapper {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 68px);
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    min-height: calc(100vh - 88px);
    flex-direction: column-reverse;
    gap: 98px;
    padding: 100px 0;
  }

  @media screen and (min-width: 1440px) {
    position: static;
    width: 1240px;
    box-sizing: border-box;
    flex-direction: row-reverse;
    padding: initial;
    gap: 80px;
    align-items: center;
    justify-content: flex-end;
  }
}
