.progressBarTrainingWrapper {
  @media screen and (min-width: 1440px) {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

.progressBar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    justify-content: space-between;
  }

  @media screen and (min-width: 1440px) {
    justify-content: start;
    gap: 16px;
  }
}

.circularProgressWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 24px;
  height: 24px;

  @media screen and (min-width: 768px) {
    width: 26px;
    height: 26px;
  }
}

.percentageLabel {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    font-size: 18px;
    font-weight: 500;
  }

  @media screen and (min-width: 1440px) {
    font-size: 22px;
  }
}

.progressBarTraining {
  width: 44px;
  height: 44px;
  position: relative;
  display: flex;

  @media screen and (min-width: 768px) {
    width: 58px;
    height: 58px;
  }
}

.trainingCircularProgressWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 44px;
  height: 44px;

  @media screen and (min-width: 768px) {
    width: 58px;
    height: 58px;
  }
}

.tasksCount {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-weight: 500;
  line-height: 150%;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}
