.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  box-sizing: border-box;
  padding: 48px 16px;
  width: calc(100vw - 32px);
  max-height: calc(100vh - 68px);
  min-height: 459px;
  overflow-y: auto;
  overflow-x: hidden;
  background-image: image-set(
    url('/public/img/book@1x.webp') 1x,
    url('/public/img/book@2x.webp') 2x,
    url('/public/img/book@1x.png') 1x,
    url('/public/img/book@2x.png') 2x
  );
  background-repeat: no-repeat;
  background-position: calc(100% - 12px) calc(100% - 44px);
  background-size: 152px 121px;

  @media screen and (min-width: 375px) {
    width: 343px;
  }

  @media screen and (min-width: 768px) {
    padding: 48px 64px;
    width: 528px;
    background-position: calc(100% - 6px) calc(100% - 21px);
    background-size: 212px 179px;
    gap: 28px;
  }
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--primary-white-color);

  @media screen and (min-width: 768px) {
    font-size: 40px;
    line-height: 120%;
  }
}

.resultsWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 32px;

  @media screen and (min-width: 768px) {
    gap: 64px;
  }
}

.resultsCorrect,
.resultsMistakes {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.correctParagraph,
.mistakesParagraph {
  font-size: 14px;
  color: rgba(252, 252, 252, 0.5);

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.correctList,
.mistakesList {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.correctItem,
.mistakesItem {
  font-weight: 500;
  line-height: 150%;
  color: var(--primary-white-color);

  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}
